@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: #1B1B1B;
    color: #D9D9D7;
    font: 1.2em "Inconsolata", sans-serif;
}

::-webkit-scrollbar {
    width: 0;
}

h1 {
    margin-bottom: 2em;
}

#typed {
    width: 50%;
    height: 30%;
    text-align: center;
}

.App {
    width: 100vh;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
    color: #635E4E;
}

.red {
    color: #AE4426;
}

.green {
    color: #729B5C
}

.blue {
    color: #688FA8;
}

.purple {
    color: #AD6797;
}

.yellow {
    color: #F1C40F;
}

.orange {
    color: #DAA553
}

.pink {
    color: pink
}

a {
    color: #6AA5C6;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
}

button {
    min-width: 100px;
    height: 40px;
    border: 1px solid #D9D9D7;
    color: #D9D9D7;
    background-color: #1B1B1B;
    padding: 0 1em;
    transition: all 500ms ease;
}

button:hover {
    cursor: pointer;
    background-color: #D9D9D7;
    color: #1B1B1B;
}